<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <nav>
      {{!-- add a rendered condition login button or logout button depending on condition --}}
      {{#if logged_in}}
      <a href="/profile">profile</a> |
      <button class="no-button" id="logout">logout</button>
      {{else}}
      <a href="/login">login</a>
      {{/if}}
    </nav>
    </header>
    <main>
      {{{body}}}
    </main>
</body>

</html>
<script src="/js/logout.js"></script>